/* about tititle section  */
.about {
    background-color: #f5f6f6;
    padding: 20px;
}
.about-title{
    margin-top: 30px;
}
.header-title{
    font-size: 50px;
    font-weight: 900;
    color: rgb(48, 182, 235);


}
.about-img{
    border: 15px solid white;
    border-radius: 10%;
}

.list li{
    /* list-style-type: none;
    list-style-type: none;
  margin: 0;
  padding: 0; */
  list-style: none;
  font-weight: 900;
  margin-left: 5px;
  padding: 10px;
}

/* contact section  */
.contact-img{
    background-image: url('https://images.pexels.com/photos/4226100/pexels-photo-4226100.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-section{
    padding: 40px;
    width: 50%;
    
}

